services:
  app:
    build:
      context: ..
      dockerfile: docker-files/npm/Dockerfile
    stdin_open: false
    tty: false
    volumes:
    - ../:/app
    working_dir: /app
    environment:
    - TAG=${TAG:-v0.1.0}
    - REPO_NAME=${REPO_NAME:-obsidian-timestamp-utility}
