PyGitHub==2.*
langchain-ollama>=1.1.0
langchain-core>=1.2.21,<2.0.0
ollama>=0.6.2
pytest
pytest-mock
langgraph>=0.2.0
sentence-transformers==3.1.1
aiohttp
mcp
tenacity
pydantic
watchdog
pytest-asyncio
ruff
black